<div class="flex pl-6 pt-6 place-items-center">
  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6
  flex-none h-18 w-18 text-blue-500 hover:scale-125 hover:cursor-pointer" fill="none" viewBox="0 0 24 24"
       stroke="currentColor" stroke-width="2">
    <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
  </svg>
  <div class="flex-auto pl-3">
    <h1 class="text-2xl font-extrabold">{{title}}</h1>
    <h5 class="text-lg dark:text-slate-400">{{subTitle}}</h5>
  </div>
</div>
