<div class="page" (mousemove)="onPageMouseMove($event)" [style.height]="pageHeight" [style.width]="pageWidth" [style.transform]="'scale(' + zoom + ')'">
  <div class="elementFrame" *ngIf="!!hoverFramePosition"
       [style.width]="hoverFramePosition.width"
       [style.height]="hoverFramePosition.height"
       [style.transform]="hoverFramePosition.transform">
    <div class="frame"></div>
  </div>

  <ng-container *ngFor="let el of elements">
    <app-text-element *ngIf="'text' === el.name"
                      [element]="el"
                      [options]="el.opts"
                      [zoom]="zoom"
                      (hoverEvent)="onHoverElement($event)"
                      (dragEvent)="onDragEvent($event)"></app-text-element>
  </ng-container>
</div>
