<div class="elementFrame" *ngIf="!!hoverFramePosition"
     [style.width]="hoverFramePosition.width"
     [style.height]="hoverFramePosition.height"
     [style.transform]="hoverFramePosition.transform">
  <div class="frame"></div>
</div>
<div class="page"
     [style.height]="pageHeight"
     [style.width]="pageWidth"
     [style.transform]="'scale(' + (zoom$ | async) + ')'"
     (mousemove)="onPageMouseMove($event)"
     (click)="onPageClick($event)">

  <ng-container *ngFor="let el of (elements$ | async)">
    <app-text-element *ngIf="'text' === el.type"
                      [elementId]="el.id"
                      (hoverEvent)="onHoverElement($event)"
                      (dragEvent)="onDragEvent($event)"></app-text-element>
  </ng-container>
</div>
