@import "../../../styles";

:host {
  user-select: none;

  .page {
    border: dotted rgb(122, 122, 122) 2px;
    position: relative;
    overflow: hidden;
    transform: scale(1);
    transform-origin: 0 0;
  }

  .elementFrame {
    position: absolute;
    .frame {
      position: absolute;
      top: -1px;
      bottom: -1px;
      left: -1px;
      right: -1px;
      border: 2px solid $primaryColor;
    }
  }
}
